<div class="childForm">
    <form class="parentForm">
        <label>First Name</label>
        <input type="text" placeholder="Please Enter Your Firstname" />
        <label>Last Name</label>
        <input type="text" placeholder="Please Enter Your Lastname" />
        <label>Mobile</label>
        <input type="text" placeholder="Please Enter Your Mobile Number" />
        <label>First Name</label>
        <input type="text" placeholder="Please Enter Your Firstname" />
        <label>First Name</label>
        <input type="text" placeholder="Please Enter Your Firstname" />
        <label>First Name</label>
        <input type="text" placeholder="Please Enter Your Firstname" />
    </form>
</div>